<div class="jumbotron">
<h1>About this Project</h1>
<br>
<img src = "http://i60.tinypic.com/2pp0e9h.jpg">
<br><br>
<p>Hi! Im Dasom. </p>
<p>This is my Rail Pinteresting App Project.</p>
<p>Project Start Date : May 17 2015</p>

</div>